.root {
	width: 100%;
	padding-inline: 6px;

	display: grid;
	grid-template-columns: 0.3fr 1fr 0.3fr;

	background: rgb(179, 116, 45);
}

.rootVertical {
	width: 18px;
	padding: 0;

	display: flex;

	background: rgb(158, 131, 49);
}

.rootDragging {
	composes: root;
	background-color: rgb(31, 46, 22);
}

.fold {
	background-color: rgb(145, 145, 145);
}

.title {
}

.drag {
	background-color: rgb(145, 145, 145);
}
