.root {
	width: 100%;

	display: grid;
	background-color: rgb(142 184 127);
}

.vDrag {
	width: 4px;
	padding: 0;

	display: flex;

	background: rgb(34, 38, 42);
	cursor: col-resize;
}

.hDrag {
	height: 4px;
	padding: 0;

	display: flex;

	background: rgb(34, 38, 42);
	cursor: row-resize;
}

.hDrag:hover {
	background-color: rgb(80, 122, 164);
}

.rootDragging {
	composes: root;
	background-color: rgb(31, 46, 22);
}

.drag {
	height: 18px;
	width: 18px;

	pointer-events: all;
	cursor: pointer;
}
